*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{background:#0b1220;
min-height:100vh;
margin:0;
 }

.container{
text-align:center;
}

h1{
font-size:55px;
color:#00e5ff;
text-shadow:0 0 20px #00e5ff;
margin-bottom:15px;
}

p{
color:white;
font-size:20px;
margin-bottom:40px;
}

button{
padding:15px 40px;
border:none;
border-radius:30px;
background:#00e5ff;
font-size:18px;
cursor:pointer;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
}
#splash{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#050816;
}

#splash h1{
font-size:65px;
color:#00e5ff;
text-shadow:0 0 15px #00e5ff,
0 0 35px #00e5ff;
animation: glow 1.5s infinite alternate;
}

#splash p{
margin-top:15px;
color:white;
font-size:22px;
}

@keyframes glow{

from{
transform:scale(1);
}

to{
transform:scale(1.08);
}

}
.login-box{
    width:90%;
    max-width:360px;
    margin:auto;
    margin-top:120px;
    padding:30px;
    background:#111827;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 25px cyan;
}

.login-box h1{
    color:#00e5ff;
    margin-bottom:10px;
}

.login-box p{
    color:white;
    margin-bottom:25px;
}
.login-box input{
    width:90%;
    padding:15px;
    border:none;
    border-radius:12px;
    margin-bottom:20px;
    font-size:17px;
}

.login-box button{
    width:90%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#00e5ff;
    color:black;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}
.chat{
width:90%;
margin:15px auto;
padding:15px;
background:#111827;
border-radius:15px;
box-shadow:0 0 10px cyan;
color:white;
cursor:pointer;
}

.chat:hover{
    transform:scale(1.02);
    transition:0.3s;
}
.search-box{
    width:95%;
    margin:20px auto;
}

.search-box input{
    width:100%;
    height:55px;
    padding:0 20px;
    border:none;
    border-radius:30px;
    font-size:18px;
    outline:none;
    background:#1f2937;
    color:white;
    box-shadow:0 0 10px #00e5ff;
}

.fab{
    position:fixed;
    bottom:20px;
    right:20px;
    width:60px;
    height:60px;
    border-radius:50%;
    background:#00e5ff;
    color:black;
    font-size:30px;
    border:none;
    cursor:pointer;
    box-shadow:0 0 20px cyan;
}
